.aboutWrapper {
  margin: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutSectionWrapper {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 40px 5%;
}
/* .aboutSectionWrapper:nth-child(even) {
  background-color: rgb(245, 245, 245);
} */

.title {
  font-size: 3rem;
  font-weight: bold;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titleHighlight {
  color: #2e86ab;
}

.infoWrapper {
  padding: 0 40px;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

.linkWrapper {
  display: flex;
  align-items: flex-end;
}

.link {
  font-size: 1.4rem;
  color: inherit;
  font-weight: bold;
  text-decoration-thickness: 2px;
}

.iconRow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.iconRow div {
  margin: 20px 10px;
}

@media only screen and (max-width: 1300px) {
  .aboutSectionWrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 950px) {
  .aboutSectionWrapper {
    flex-direction: column;
    width: 90%;
  }
  .infoWrapper {
    align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .iconRow div {
    transform: scale(0.8);
    margin: 10px 5px;
  }
  .infoWrapper {
    justify-content: center;
    padding: 0;
  }
}
